body{
    font-family: arial,fantasy;
    background-color: rgb(205, 248, 224);
    text-align: center;
}
    

header{
    font-weight: bolder;
    color:rgb(2, 62, 70);
}  
    

footer {
    font-weight: bolder;
    text-align: right;  
}

.metricas {
    font-size: 15px;
    color: rgb(51, 78, 153);
    border-color: black;
}

#reset-button {
    background-color: rgb(101, 143, 105);
  color: rgb(1, 12, 10);
}
