body{
    font-family: arial,fantasy;
    background-color: rgb(138, 151, 135);
}

header{
    font-weight: bolder;
    color:rgb(2, 62, 70);
    }

footer {
    font-weight: bolder;
        
}

.metricas {
    font-size: 15px;
    color: rgb(51, 78, 153);
}

#reset-button {
    background-color: rgb(101, 143, 105);
  color: rgb(1, 12, 10);
}

div {
    text-align: center;
}
